<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>

    <div class="form">
      <form action="" method="post">
        <label for="account_firstname">First name: </label>
        <input type="text" name="account_firstname" id="account_firstname" required placeholder="Goodness">

        <label for="account_lastname">Last name: </label>
        <input type="text" name="account_lastname" id="account_lastname" required placeholder="Okafor">

        <label for="account_email">Email: </label>
        <input type="email" name="account_email" id="account_email" required placeholder="goodnessokafor@example.com">

        <label for="account_password">Password: </label>
        <div class="show-pword">  <!-- This div is created to flex-row the direction of the password field and show button to be on the same position and direction -->
          <input type="password" name="account_password" id="account_password" required placeholder="************"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Password must be at least 12 characters long and contains at leate 1 uppercase, digit and special charater.">
          <span class="show">Show</span>
        </div>

        <input type="submit" id="submit" value="register">
      </form>
      <p>Already have an account? <span><a href="/account/login">Login</a></span></p>
    </div>